.dashboardContainer {
  display: grid;
  grid-template-columns: 0.2fr 3fr 1fr;
  padding: 30px;
}

/* Task Menu Styles */
.taskMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px;
  color: var(--primary-text-color);
}

.taskMenu li {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--primary-text-color);
}

.calendarContainer {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}

/* Calendar UI Styles */
.calendarContainer {
  background-color: var(--background-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  text-align: center;
}

/* Calendar Styles */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: none;
  font-family: Arial, sans-serif;
}

.react-calendar__tile--active {
  background-color: var(--accent-color);
  color: var(--button-text-color);
}
