.btn {
  padding: 10px;
  width: 100%;
  background-color: var(--button-bg-color);
  color: white;
  border: 1px solid var(--border-color);
}

.btn:hover {
  background-color: var(--accent-color);
  color: white;
  transition: 0.7s;
  cursor: pointer;
}

.input {
  background-color: transparent;
  color: var(--primary-text-color);
  padding: 10px;
  width: 100%;
  max-width: 95%;
  display: block;
  margin: 10px 0;
  border: 1px solid var(--border-color);
}

.input:focus {
  outline: none;
}

.pill-btn {
  padding: 5px 20px;
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  color: var(--primary-text-color);
  background-color: transparent;
}

.pill-btn:hover {
  color: var(--wb);
  background-color: var(--accent-color);
}

.pill-btn .active {
  color: var(--wb);
  background-color: var(--accent-color);
}
